.Footer {
  padding: 80px 30px 10px;
  color: rgb(226, 226, 226);
  background-color: rgb(22, 22, 22);
  display: flex;
  gap: 30px;
  position: relative;
}

.FooterIcons {
  display: flex;
  flex-wrap: wrap;
}

.FooterIcons li {
  padding-right: 10px;
  list-style-type: none;
}

.TextContainer {
  width: 58%;
  text-align: left;
}

.TextContainer a {
  margin-right: 20px;
  color: rgb(226, 226, 226);
  text-decoration: none;
}

.TextContainer a:hover {
  text-decoration: underline;
}

.IconsContainer {
  text-align: left;
}

.IconsContainer p {
  justify-content: left;
  padding-left: 30px;
}

.FooterIcons a {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  background: rgb(39, 39, 39);
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
}

.FooterIcons a:hover {
  background-color: rgb(59, 59, 59);
}

.WatchitApp {
  text-align: left;
  margin-left: 30px;
}

.DownloadIcons {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 0;
}