* {
  max-width: 100%;
}

.slider {
  position: relative;
  width: 100vw;
  height: 95vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: white;
  text-align: left;
}

.slides {
  display: flex;
  transition: transform 0.7s ease-in-out;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0.97) 35%, rgba(0,0,0,0.7) 60%, rgba(0,0,0,0.2) 100%);
  top: 0;
  left: 0;
}

.slide-content {
  position: relative;
  z-index: 2;
  padding: 200px;
  max-width: 600px;
}

.slide-content h1 {
  font-size: 60px !important;
  margin-bottom: 90px !important;
}

.slide-content p {
  margin-bottom: 40px !important;
  line-height: 1.5;
  font-size: 18px !important;
}

.tags {
  margin: 10px 0;
}

.tags span {
  background-color: rgba(255,255,255,0.2);
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 0.9em;
}

.actors {
  margin-top: 15px;
  font-size: 0.9em;
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 50px 10px;
  cursor: pointer;
  font-size: 1.3em;
  z-index: 3;
  border-radius: 3px;
  transition: background 0.3s;
}

button.prev:hover, button.next:hover {
  background-color: rgba(0,0,0,0.8);
}

button.prev { left: 15px; }
button.next { right: 15px; }


.slide-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.slide-content .description {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.slide-content .starring,
.slide-content .genres,
.slide-content .tags {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.slide-content .starring strong,
.slide-content .genres strong,
.slide-content .tags strong {
  text-transform: uppercase;
}

.sectionName {
  color: rgb(240, 28, 0);
  text-transform: none !important;
}

